
:root {
  --square-size: 50px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}


.container {
  width: 100vw;
  height: calc(100vh - 75px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 0;
  position: relative;
  background-color: #ffe5c0;
  font-family: "LilitaOne", "Roboto Mono", monospace;
}

#grid {
  display: none;
  height: 400px;
  width: 400px;
  flex-wrap: wrap;
  margin-bottom: 10px;
  box-sizing: content-box;
  align-items: center;
  justify-content: center;
}

#grid.beginner {
  height: calc(var(--square-size) * 8);
  width: calc(var(--square-size) * 8);
}

#grid.immediate {
  height: calc(var(--square-size) * 10);
  width: calc(var(--square-size) * 10);
}

#grid.expert {
  height: calc(var(--square-size) * 12);
  width: calc(var(--square-size) * 12);
}

#grid.pro {
  height: calc(var(--square-size) * 16);
  width: calc(var(--square-size) * 16);
}

#flag-info {
  display: none;
}

div {
  font-size: 25px;
  text-align: center;
  transition: all 0.3s ease-out;
}

.square {
  height: 50px;
  width: 50px;
  border-radius: 6px;
  background: #fec200;
  box-shadow: -6px 0px 0px 0px #ff7505 inset, 0px 6px 0px 0px #fedc01 inset,
    0px -6px 0px 0px #ff7a00 inset, 6px 0px 0px 0px rgba(254, 220, 1, 0.6) inset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.square:hover {
  background-color: #fec200;
}

.checked {
  height: 50px;
  width: 50px;
  border-radius: 6px;
  background: #fff;
  box-shadow: -6px 0px 0px 0px #d1d2d7 inset, 0px 6px 0px 0px #f2f2f2 inset,
    0px -6px 0px 0px #d2d3ce inset,
    6px 0px 0px 0px rgba(242, 242, 242, 0.6) inset;
  box-sizing: border-box;
  pointer-events: none;
}

.one {
  color: #ff00af;
}

.two {
  color: #47f01c;
}

.three {
  color: #990303;
}

.four {
  color: #7847c4;
}

.five {
  color: #2a4adb;
}

.six {
  color: #ff4900;
}

.seven {
  color: #7196ff;
}

.eight {
  color: #9a4810;
}

#result {
  margin-top: 5px;
  color: #e76346;
}

#game-over {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.backdrop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
}

.game-over-title {
  font-size: 72px;
  margin-bottom: 24px;
  margin-top: 0;
  color: #fff;
}

.play-again-button {
  border-radius: 12px;
  border: 3px solid #000;
  background: #fec200;
  padding: 14px 24px;
  font-size: 36px;
  cursor: pointer;
  font-family: "LilitaOne", "Roboto Mono", monospace;
}

#game-level {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#game-level .backdrop {
  background-color: #ffe5c0;
}

.game-level-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.choose-level-title {
  font-size: 72px;
  margin-top: 0;
  margin-bottom: 58px;
}

.game-level-item {
  padding: 14px 126px;
  margin-bottom: 24px;
  font-size: 36px;
  color: #000;
  cursor: pointer;
  border-radius: 12px;
  border: 3px solid #000;
}

.game-level-item.beginner {
  background: #47f01c;
}

.game-level-item.intermediate {
  background-color: #7196ff;
}

.game-level-item.expert {
  background-color: #ff00af;
}

.game-level-item.pro {
  background-color: #ff4900;
}

#game-result {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#game-result .backdrop {
  background-color: #fff;
}

.game-result-title {
  font-size: 48px;
  margin-bottom: 24px;
  margin-top: 0;
  text-align: center;
  background: linear-gradient(
    to right,
    #ff0018,
    #ffa52c,
    #ffff41,
    #008018,
    #0000f9,
    #86007d
  ); /* Adjust the gradient colors as desired */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.game-result-desc {
  font-size: 20px;
  color: black;
  margin: 0;
}

#game-validate{
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#processing{
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: rgba(0, 0, 0, 0.6); */
  width: 100vw;
  height: calc(100vh - 75px);
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  display: none;
}

.lds-dual-ring {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 50px;
  height: 50px;
  margin: 8px;
  border-radius: 50%;
  border: 4px solid #fec200;
  border-color: #fec200 transparent #fec200 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#play-music{
  z-index: 999;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 80%;
}

.speaker {
  vertical-align: middle;
  box-sizing: border-box;
  display: inline-block;
  background: #FF7505;
  background-clip: content-box;
  width: 1em;
  height: 1em;
  border: .333em solid transparent;
  border-right-color: #FF7505;
  position: relative;
  left: -.337em;
}

#speaker-off{
  display: none;
}

.speaker.-on:before, .speaker.-on:after {
  content: '';
  background: #FF7505;
  width: .1em;
  position: absolute;
}
.speaker.-on:before {
  height: .333em;
  right: -.533em;
}
.speaker.-on:after {
  height: .667em;
  right: -.733em;
  top: -50%;
}
.speaker.-off:before, .speaker.-off:after {
  content: '';
  background: #FF7505;
  width: .1em;
  position: absolute;
  height: 1.2em;
  margin-top: -.333em;
  top: -.1em;
  left: .1em;
  transform: translateX(.333em) rotate(-45deg);
}
.speaker.-off:before {
  background: transparent;
  left: .2em;
}



/*  ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ Write all your style here ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */
