:root {
  --square-size: 50px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background-color: #ffe5c0;

}

.container {
  width: 100vw;
  height: calc(100vh - 75px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 0;
  position: relative;
  font-family: "LilitaOne", "Roboto Mono", monospace;
}

.container div {
  font-size: 2.5rem;
  text-align: center;
  transition: all 0.3s ease-out;
}

#grid {
  display: none;
  height: 400px;
  width: 400px;
  flex-wrap: wrap;
  margin-bottom: 10px;
  box-sizing: content-box;
  align-items: center;
  justify-content: center;
}

#grid * {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}


#grid.beginner {
  height: calc(var(--square-size) * 8);
  width: calc(var(--square-size) * 8);
}

#grid.immediate {
  height: calc(var(--square-size) * 10);
  width: calc(var(--square-size) * 10);
}

#grid.expert {
  height: calc(var(--square-size) * 12);
  width: calc(var(--square-size) * 12);
}

#grid.pro {
  height: calc(var(--square-size) * 16);
  width: calc(var(--square-size) * 16);
}

@media screen and (max-width: 475px) {
  #grid.beginner {
    --square-size: 40px;
  }
  #grid.immediate {
    --square-size: 30px;
  }

  #grid.expert {
    --square-size: 30px;
  }

  #grid.pro {
    --square-size: 22px;
  }

}


#flag-info {
  display: none;
}



.square {
  height: var(--square-size);
  width: var(--square-size);
  border-radius: 6px;
  background: #fec200;
  box-shadow: -6px 0px 0px 0px #ff7505 inset, 0px 6px 0px 0px #fedc01 inset,
    0px -6px 0px 0px #ff7a00 inset, 6px 0px 0px 0px rgba(254, 220, 1, 0.6) inset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.square:hover {
  background-color: #fec200;
}

.checked {
  height: var(--square-size);
  width: var(--square-size);
  border-radius: 6px;
  background: #fff;
  box-shadow: -6px 0px 0px 0px #d1d2d7 inset, 0px 6px 0px 0px #f2f2f2 inset,
    0px -6px 0px 0px #d2d3ce inset,
    6px 0px 0px 0px rgba(242, 242, 242, 0.6) inset;
  box-sizing: border-box;
  pointer-events: none;
}

.one {
  color: #ff00af;
}

.two {
  color: #47f01c;
}

.three {
  color: #990303;
}

.four {
  color: #7847c4;
}

.five {
  color: #2a4adb;
}

.six {
  color: #ff4900;
}

.seven {
  color: #7196ff;
}

.eight {
  color: #9a4810;
}

#result {
  margin-top: 5px;
  color: #e76346;
}

#game-over {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.backdrop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
}

.game-over-title {
  font-size: 7.2rem;
  margin-bottom: 2.4rem;
  margin-top: 0;
  color: #fff;
}

.play-again-button {
  border-radius: 12px;
  border: 3px solid #000;
  background: #fec200;
  color: #000 !important; 
  padding: 14px 24px;
  font-size: 36px;
  cursor: pointer;
  font-family: "LilitaOne", "Roboto Mono", monospace;
}

#game-level {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#game-level .backdrop {
  background-color: #ffe5c0;
}

.game-level-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.choose-level-title {
  font-size: 72px;
  margin-top: 0;
  margin-bottom: 58px;
}

.game-level-item {
  padding: 14px 126px;
  margin-bottom: 24px;
  font-size: 36px;
  color: #000;
  cursor: pointer;
  border-radius: 12px;
  border: 3px solid #000;
  opacity: 0.7;
}

.game-level-item:hover {
  opacity: 1;
}

.game-level-item.beginner {
  background: #47f01c;
}

.game-level-item.intermediate {
  background-color: #7196ff;
}

.game-level-item.expert {
  background-color: #ff00af;
}

.game-level-item.pro {
  background-color: #ff4900;
}

#game-result {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#game-result .backdrop {
  background-color: #fff;
}

.game-result-title {
  font-size: 48px;
  margin-bottom: 24px;
  margin-top: 0;
  text-align: center;
  color: black;

}

.game-result-desc {
  font-size: 20px;
  color: black;
  margin: 0;
}

#game-validate {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: white;
}

#game-result-validate-1{
  color: white;
}

#processing {
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: rgba(0, 0, 0, 0.6); */
  width: 100vw;
  height: calc(100vh - 75px);
  z-index: 10;
  /* display: grid; */
  place-items: center;
  display: none;
}

.lds-dual-ring {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 50px;
  height: 50px;
  margin: 8px;
  border-radius: 50%;
  border: 4px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#play-music {
  z-index: 999;
  position: absolute;
  left: 20px;
  top: 60px;
  font-size: 80%;
}

/* .speaker {
  vertical-align: middle;
  box-sizing: border-box;
  display: inline-block;
  background: #ff7505;
  background-clip: content-box;
  width: 1em;
  height: 1em;
  border: 0.333em solid transparent;
  border-right-color: #ff7505;
  position: relative;
  left: -0.337em;
}
*/

#speaker-off,
#speaker-on {
  display: none;
}


.leaderboard {
  position: fixed;
  z-index: 99;
  top: 60px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 60px);
  background-color: #ffe5c0;
  display: none;
}

.leaderboard_heading {
  margin-top: 64px;
  margin-bottom: 20px;
}

.cup-icon {
  font-size: 145%;
  margin-bottom: 8px;
}

.leaderboard_title {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 44.8px */
  letter-spacing: -0.96px;
}

.leaderboard_table_wrapper {
  --column-ratio: 1fr 136px 165px;

  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 473px;
  padding: 28px;
  border-radius: 6px;
  background: #fec200;
  box-shadow: -6px 0px 0px 0px #ff7505 inset, 0px 6px 0px 0px #fedc01 inset,
    0px -6px 0px 0px #ff7a00 inset, 6px 0px 0px 0px rgba(254, 220, 1, 0.6) inset;
}

.leaderboard_table_heading {
  display: grid;
  grid-template-columns: var(--column-ratio);
  column-gap: 24px;
  margin-bottom: 12px;
}

.leaderboard_table_heading > div {
  font-size: 12px;
  line-height: 150%;
  text-align: left;
}

.leaderboard_table_heading > div:last-of-type {
  text-align: right;
}

.leaderboard_table_data {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.leaderboard_table_data_row {
  padding: 12px 16px;
  border-radius: 6px;
  background: #fff;
  box-shadow: -6px 0px 0px 0px #d1d2d7 inset, 0px 6px 0px 0px #f2f2f2 inset,
    0px -6px 0px 0px #d2d3ce inset,
    6px 0px 0px 0px rgba(242, 242, 242, 0.6) inset;
  display: grid;
  grid-template-columns: var(--column-ratio);
  column-gap: 24px;
}

.leaderboard_table_data_row > div {
  text-transform: uppercase;
  line-height: 28px; /* 155.556% */
}

.leaderboard_table_data_row.--your-wallet{
background: #BAEDBD;
box-shadow: -6px 0px 0px 0px #9CC29F inset, 0px 6px 0px 0px #9CC29F inset, 0px -6px 0px 0px #9CC29F inset, 6px 0px 0px 0px rgba(156, 194, 159, 0.60) inset;
}

.container .leaderboard_table_data_name {
  font-size: 14px;
  text-align: left;
}

.leaderboard_table_data_row > div:last-of-type {
  text-align: right;
  color: #ff7505;
  font-size: 18px;
  letter-spacing: -0.54px;
}

.leaderboard_table_data_rank.--medal {
  font-size: 115%;
}

#go-to-leaderboard {
  position: absolute;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 12px 0px 0px 12px;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  border-left: 3px solid #000;
  background: #fff;
  padding: 2.3rem 2.6rem 2.5rem 2.6rem;
  cursor: pointer;
}

#go-to-leaderboard:hover {
  opacity: 0.7;
}

#go-to-leaderboard .cup-icon {
  margin-bottom: 0;
  font-size: 115%;
}

#go-to-leaderboard .leaderboard_title {
  line-height: normal;
}

#play-again-button-validate{
  display: none;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#back-btn {
  border-radius: 12px;
  border: 2px solid #000;
  background: #fff;
  margin-top: 20px;
  width: fit-content;
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}


/* Style for mobile */
@media screen and (max-width: 475px) {
  body{
    height: auto;
    overflow: auto;
    overflow-x: hidden;
  }


  #game-level{
    margin-top: 80px;
    padding: 0 20px;
  }

  .choose-level-title{
    font-size: 5rem;
  }

  .game-level-list{
    width: 100%;
  }

  .game-level-item{
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  #go-to-leaderboard {
    top: 70px;  
    padding: 1.6rem 2rem 1.8rem 2rem;
  }

  #go-to-leaderboard .cup-icon{
    font-size: 50%;
  }

  .leaderboard_title{
    font-size: 2rem;
    line-height: 100%;
  }

  #play-music{
    bottom: 0;
    top: unset;
  }

  .square{
    font-size: 1.8rem;
  }

  .leaderboard{
    padding: 0 20px;
  }

  .leaderboard_table_wrapper {
  --column-ratio: 30px 120px 1fr;
  }


}

/*  ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ Write all your style here ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */
